<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="basePath">/home/ubuntu/documents/projects/logs/</Property>
		<Property name="appName">Restaurant</Property>
		<Property name="patternStd">%d [%-5p] %C (%F:%L) - %m%n</Property>
		<Property name="patternFile">%d [%-5p] %C (%F:%L) - %m%n</Property>
	</Properties>
	<Appenders>
		<RollingFile name="all" fileName="${basePath}/${appName}/all.log" filePattern="${basePath}/${appName}/all.%i.log.zip">
			<PatternLayout pattern="${patternFile}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="2" compressionLevel="9" />
		</RollingFile>
		<RollingFile name="default" fileName="${basePath}/${appName}/default.log" filePattern="${basePath}/${appName}/default.%i.log.zip">
			<PatternLayout pattern="${patternFile}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="2" compressionLevel="9" />
		</RollingFile>
		<RollingFile name="hibernate-debug" fileName="${basePath}/${appName}/hibernate.debug.log" filePattern="${basePath}/${appName}/hibernate.debug.%i.log.zip">
			<PatternLayout pattern="${patternFile}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" compressionLevel="9" />
		</RollingFile>
		<RollingFile name="hibernate-info" fileName="${basePath}/${appName}/hibernate.info.log" filePattern="${basePath}/${appName}/hibernate.info.%i.log.zip">
			<PatternLayout pattern="${patternFile}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" compressionLevel="9" />
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${patternStd}" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.sharobi.restaurantapp" level="INFO">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="default" />
		</Logger>
		<Logger name="org.hibernate" level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="hibernate-info" />
		</Logger>
		<Logger name="org.hibernate" level="debug">
			<AppenderRef ref="hibernate-debug" />
		</Logger>

		<!-- 3rdparty Loggers -->
		<logger name="org.springframework.core">
			<level value="info" />
		</logger>
		
		<logger name="org.springframework.beans">
			<level value="info" />
		</logger>
		
		<logger name="org.springframework.context">
			<level value="info" />
		</logger>

		<logger name="org.springframework.web">
			<level value="info" />
		</logger>

		<!-- Root Logger -->
		<root>
			<priority value="WARN" />
			<appender-ref ref="console" />
		</root>

	</Loggers>
</Configuration>